.computer-section {
  .black-image {
    display: none;
  }
  width: 1920px;
  padding-top: 112px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    font-family: $big-txts-font;
    font-size: 31px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-bottom: 13px;
    span {
      color: #3ab6b2;
    }
  }
  .speak-icon {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 100px;
    .left-line,
    .right-line {
      width: 40px;
      height: 1px;
      background-color: $line-gray;
      background-color: red;
    }
  }

  .comp-main {
    display: flex;
    gap: 95px;
    padding-right: 359px;

    .computer-txt {
      h2 {
        font-family: $big-txts-font;
        font-size: 31px;
        font-weight: 600;
        color: $txt-headline-gray;
        margin-top: -9px;
        margin-bottom: 22px;
      }
      > p {
        font-family: $small-txts-font;
        font-size: 14px;
        color: $main-txt-gray;
        margin-bottom: 43px;
        line-height: 2;
      }

      .features-container {
        display: grid;
        p {
          font-family: $small-txts-font;
          font-size: 13px;
          color: $main-txt-gray;
        }
      }
    }
  }
}
