@media (max-width: 1023.5px) {
  .computer-section {
    max-width: 768px;
    min-width: 100%;
    h2 {
      margin-top: -40px;
      font-size: 29px;
    }

    .speak-icon {
      margin-bottom: 55px;
    }
  }

  .features-container {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
  .comp-main {
    flex-direction: column;
    padding-right: 0 !important;

    #black-img {
      display: block;
      margin: 0 30px;
      // width: 1024px;
    }
    .comp-img {
      display: none;
    }

    .computer-txt {
      h2 {
        font-size: 25px !important;
        margin-left: 28px !important;
        margin-top: -62px !important;
        margin-bottom: 26px !important;
      }

      .tablet-txt {
        display: block;
        margin-left: 30px;
        margin-right: 17px;
        font-size: 13px !important;
      }
      .desktop-txt {
        display: none;
      }

      .features-container-desktop {
        display: none !important;
      }
      .features-container-tablet {
        display: block !important;
        margin-left: 31px;

        .features-flex-tablet {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 20px;
        }
        .feature-tablet-btn {
          width: 138px;
          height: 42px;
          background: #3ab6b2;
          border: none;
          color: #fff;
        }
      }
    }
  }

  .feature {
    h4 {
      display: none;
    }
    img {
      display: none;
    }
  }
}
