.header-box {
  padding-top: 235px;
  padding-bottom: 260px;
  padding-left: 38px;
  padding-right: 38px;

  img {
    margin-top: -93px;
  }
  h1 {
    text-align: center;
    margin-left: 23px;
    letter-spacing: -0.5px;
  }

  .header-main-txt {
    font-size: 20px;
  }
}
