@media ($mobile-screen) {
  .header-box {
    max-width: 320px;
    padding: 0;
    margin-top: -2px;
    padding-bottom: 60px;
    .header-txt-container {
      padding-top: 14px;

      h1 {
        padding-right: 24px;
        span {
          font-size: 25px;
          margin-left: 20px;
          word-spacing: 2px;
        }
        p {
          font-size: 30px;
          margin-top: -12px;
          margin-left: 15px;
          margin-bottom: 3px;
        }
      }

      .header-main-txt {
        font-size: 9px;
        font-weight: 400;
        letter-spacing: -0.2px;
        word-spacing: 0.5px;
        margin-bottom: 19px;
        margin-left: 0;

        .mobile-txt {
          display: none;
        }
      }

      .header-btn {
        width: 59px;
        height: 13px;
        font-size: 7px;
        font-weight: bold;

        text-align: left;
        color: $services-white;
        margin-left: 105px;

        padding-left: 10px;
        letter-spacing: -0.1px;
        word-spacing: -0.5px;
        padding-top: 1px;
      }
    }
  }
}
