.header-box {
  width: 1920px;
  padding-top: 235px;
  padding-bottom: 260px;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  background-color: $bg-icon;
  justify-content: space-between;
  // align-items: center;

  .header-txt-container {
    color: $txt-white;

    h1 {
      font-family: $big-txts-font;
      font-size: 62px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      margin-left: 23px;
      letter-spacing: -0.5px;
      p {
        font-family: $headline-font;
        font-size: 74px;
        font-weight: bold;
        margin-top: -8px;
        margin-bottom: 5px;
        word-spacing: -1px;
        margin-left: -11px;
        letter-spacing: -2px;
      }
    }
    .header-main-txt {
      font-family: $big-txts-font;
      font-size: 20px;
      font-weight: normal;
      line-height: 24px;
      font-style: normal;
      text-align: center;
      margin-bottom: 43px;
      margin-left: 19px;
      word-spacing: -1.5px;
    }

    .header-btn {
      width: 138px;
      height: 38px;
      border-color: #ffffff;
      color: #ffffff;
      border-width: 1px;
      border-style: solid;
      background: #3ab6b2;
      outline: 3px solid #3ab6b2;
      margin-left: 319px;
      // color: red;
      letter-spacing: -0.6px;
      word-spacing: 1px;
    }
  }
}
