.header-box {
  width: 1920px;
  background-color: $bg-black-header;
  display: flex;
  justify-content: space-between;

  .header-txt-container {
    color: $txt-white;

    h1 {
      font-family: $big-txts-font;

      p {
        font-family: $headline-font;
        font-weight: bold;
      }
    }
    .header-main-txt {
      font-family: $big-txts-font;
    }

    .header-btn {
      width: 138px;
      height: 38px;
      background: $main-green;
      color: $txt-white;
      border: 1px solid $txt-white;
      outline: 3px solid $main-green;
      letter-spacing: -0.6px;
      word-spacing: 1px;
    }
  }
}
