@media screen and (max-width: 1023.5px) {
  .header-box {
    max-width: 768px;
    min-width: 100%;

    padding-top: 150px;
    padding-left: 20px;
    letter-spacing: -0.5px;
    word-spacing: 0.2px;
    padding-bottom: 186px;

    img {
      display: none;
    }

    .header-txt-container {
      // padding-top: 138px;

      h1 {
        padding: 0;
        font-size: 58px;
        span {
          margin-left: 20px;
          word-spacing: 3px;
        }
        p {
          font-size: 69.8px;
          margin-top: -3px;
          margin-left: 10px;
          letter-spacing: -1px;
          margin-bottom: 7px;
        }
      }

      .header-main-txt {
        font-size: 18px;
        font-weight: 100;
        word-spacing: 1.8px;
        letter-spacing: 0.2px;
        margin-bottom: 39px;
        margin-left: 16px;
        word-spacing: 2px;

        span {
          margin-right: 3px;
        }
      }

      .header-btn {
        margin-left: 292px;
      }
    }
  }
}
