@media screen and (max-width: 1023.5px) {
  .portfolio-section {
    max-width: 768px;
    min-width: 100%;

    > h2 {
      font-size: 28px;
      margin-top: -36px;
    }

    .portfolio-icon {
      margin-bottom: 56px;
    }

    #content-icons-resp {
      padding-left: 0;
      padding-top: 0;
      padding-left: 68px;
      padding-top: 81px;
      padding-bottom: 54px;
      img:first-child {
        background-color: $main-green;
        border-radius: 50%;
        padding: 8px;
        width: 35px;
        height: 35px;
      }
      img:last-child {
        border-radius: 50%;
        border: 1px solid $main-green;
        padding: 8px;
        width: 35px;
        height: 35px;
      }
    }

    .flex-container {
      gap: 21px;

      #content-footer-resp {
        
        h4 {
          font-size: 12px;
          font-weight: 500;
          margin-left: -2px;  
          margin-bottom: 6px;  
        }
        p {
          margin-left: -1px;
          font-size: 10px;
          word-spacing: -0.3px;
        }
      }
      .box-1st-row {
        gap: 22px;
      }
      .box-second-row {
        gap: 22px;
      }
      .box {
        width: 225px !important;
        height: 229px !important;
      }

      .box7 {
        display: none;
      }
    }
  }
}
