@media (max-width: 767.5px) {
  footer {
    max-width: 320px;
    padding-bottom: 41px;
    > img {
      width: 118.9px;
      height: 43.2px;
    }
    .socials {
      display: flex;
      flex-direction: column;
      margin-bottom: 13px;
    }

   
  
  }
}
