footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 58px;
  width: 1920px;
  background-color: $bg-black;
  > img {
    margin-bottom: 18px;
  }
  .socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 29px;
    img {
      width: 40px;
      height: 40px;
      padding: 11px;
      border-width: 1px;
      border-radius: 3px;
      background-color: #252525;
    }
  }
  small {
    font-family: $big-txts-font;
    font-size: 11px;
    color: #fefefe;
  }
}
