@media screen and ($tablet-screen) {
  footer {
    max-width: 768px;
    min-width: 100%;
    padding-top: 51px;

    .location-icon {
      margin-left: 49px;
    }
    .socials {
      margin-left: -9px;
    }
  }
}
