@media (max-width: 767.5px) {
  .services-section {
    max-width: 320px;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 10px;
    h2 {
      font-size: 27px;
    }

    .services-container {
      max-width: 100%;
      .service {
        max-width: 100%;
        h4 {
          font-size: 18.96470069885254px;
        }
        .header1 {
          margin-top: -5px;
        }

        .header2 {
          margin-top: -57px;
        }
        .header3 {
          margin-top: -45px;
        }

        .icons-txt-flex {
          p {
            font-size: 12.975850105285645px;
            font-weight: 100;
            margin-left: 20px;
            line-height: 1.7;
          }
        }

        .hexagon {
          .main-service-icon {
            transform: scale(1);
          }
        }
        &:first-child {
          position: relative;
          right: 58px;
          bottom: 95px;
        }
      }
    }
  }
}
