.services-section {
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 150px;
  background-color: $bg-black-header;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    // font-family: $big-txts-font;
    font-weight: normal;
    text-align: center;
    color: $services-white;
    margin-bottom: 5px;
  }
  .services-icon {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 72px;
    .left-line,
    .right-line {
      width: 40px;
      height: 1px;
      background-color: $txt-white;
    }
  }

  .services-container {
    display: flex;
    gap: 65px;

    .service:first-child {
      position: relative;
      right: 117px;
    }

    .service:nth-child(2) {
      padding-right: 120px;
      width: 198px;
    }

    .service:nth-child(2),
    .service:nth-child(3) {
      h4 {
        padding-right: 4px;
        word-spacing: 2px;
      }
    }

    .service:nth-child(3) {
      p {
        padding-right: 16px;
      }
    }

    .service {
      display: flex;
      flex-direction: column;
      align-items: center;

      .hexagon {
        position: relative;
        padding-bottom: 235px;

        right: 20px;

        img {
          position: absolute;
          top: 78px;
          left: 23px;
          width: 112px;
        }

        .green-hexagon {
          transform: scale(1.1);
          visibility: hidden;
        }
        .main-service-icon {
          z-index: 1;
          transform: scale(1.1);
        }
        .main-service-icon:hover + .green-hexagon {
          visibility: visible;
        }

        .main-service-icon:hover {
          transform: scale(1);
        }
      }

      .hexagon .service-icon {
        width: 27px;
        left: 64px;
        top: 131px;
      }

      .icons-txt-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        margin-left: 121px;
      }

      h4 {
        // font-family: $big-txts-font;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        font-style: normal;
        text-align: left;
        color: $main-green;
        margin-bottom: 5px;
      }
      p {
        font-family: $small-txts-font;
        font-size: 14px;
        text-align: center;
        color: $txt-white;

        line-height: 22px;
        letter-spacing: 0px;
        word-spacing: 1.2px;
        width: 304px;
        margin-left: 9px;
        padding-right: 12px;
      }
    }
  }
}
