@media ($mobile-screen) {
  .contact-component {
    max-width: 320px;
    padding-top: 45px;
    padding-bottom: 43px;
    h2 {
      font-size: 27px;
      margin-bottom: 11px;
    }
    .phone-icon {
      margin-bottom: 43px;
    }

    #contact-mail-icon {
      margin-top: -2px;
      margin-left: 56px;
    }

    #contact-hands-icon {
      margin-left: 48px;
      margin-top: -3px;

      & + .hands-icon-txt {
        margin-left: -1px;
      }
    }

    .contact-methods-container {
      flex-direction: column;
      gap: 0;
      max-height: 405px;

      .contact-method {
        margin-bottom: 40px;
      }
    }

    form {
      gap: 10px;
      .name-email {
        flex-direction: column;
        gap: 11px;
      }
      .subject {
        margin-bottom: 9px;
      }

      textarea {
        height: 141px;
        padding-left: 13.6px;
      }
      .textarea {
        margin-bottom: 14px;
      }

      #form-mail-name,
      #form-textarea,
      #form-subject {
        max-width: 281px;
      }

      #form-subject {
        margin-bottom: 9px;
      }

      #form-mail-name {
        gap: 9px;
        max-width: 279px;
        margin-right: 3px;
        .name,
        .email {
          max-width: 100% !important;
        }

        .email {
          padding-left: 9px;
        }
      }
    }

    .form-btn {
      margin-left: 636px;
      padding-top: 3px;
      letter-spacing: -0.8px;
      padding-right: 3px;
      word-spacing: 2px;
    }
  }
}
