@media (max-width: 767.5px) {
  .contact-component {
    max-width: 320px;
    padding-top: 43px;
    padding-bottom: 43px;

    .phone-icon {
      margin-bottom: 40px;
    }
    .contact-methods-container {
      flex-direction: column;
      gap: 0;

      .contact-method {
        margin-bottom: 40px;
      }
    }

    form {
      gap: 10px;
      .name-email {
        flex-direction: column;
        gap: 11px;
        
      }
      .subject {
        margin-bottom: 9px;
      }

      textarea {
        height: 141px;
      }
      .textarea {
        margin-bottom: 14px;
      }
      
      #form-mail-name, #form-textarea, #form-subject,  {
          max-width: 200px;
      }
      #form-mail-name {
        .name, .email {
          max-width: 200px !important;

        }
      }
         
      
    }

    .form-btn {
      margin-left: 636px;
    }
  }
}
