.contact-component {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;

  h2 {
    font-family: $big-txts-font;
    font-size: 31px;
    font-weight: normal;
    line-height: 34px;
    font-style: normal;
    text-align: left;
    color: #333333;
  }

  .phone-icon {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 90px;

    .left-line,
    .right-line {
      width: 40px;
      height: 1px;
      background-color: $line-gray;
    }
  }

  .contact-methods-container {
    display: flex;
    align-items: center;
    gap: 196px;
    .contact-method {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;

      img {
        width: 30px;
      }

      p {
        font-family: $big-txts-font;
        font-size: 15px;
        font-weight: normal;
        line-height: 24px;
        font-style: normal;
        text-align: center;
        color: #606060;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .name,
    .email {
      width: 464px;
      width: 464px;
      height: 46px;
      border-color: #d4d4d4;
      border-width: 1px;
      border-style: solid;

      background: #ffffff;
    }

    .name-email {
      display: flex;
      gap: 17px;
    }

    .subject {
      width: 945px;
      height: 46px;
      margin-bottom: 10px;

      border-color: #d4d4d4;
      border-width: 1px;
      border-style: solid;

      background: #ffffff;
    }

    .textarea {
      display: flex;
      flex-direction: column;
      width: 945px;
    }
  }

  .form-btn {
    width: 160px;
    height: 42px;
    background: #3ab6b2;
    color: white;
    border: none;
  }
}
