@media screen and (max-width: 1023.5px) {
  .contact-component {
    max-width: 768px;
    min-width: 100%;
    padding-top: 77px;
    padding-bottom: 82px;
    h2 {
      font-size: 29px;
      margin-bottom: 12px;
    }
    .phone-icon {
      margin-bottom: 58px;
    }

    .content-icons {
      padding-left: 20px;
    }
    .contact-methods-container {
      margin-left: 4px;

      margin-right: 18px;
      word-spacing: -1.2px;
      gap:157px;
      .contact-method {
        margin-bottom: 45px;
        p {
          font-size: 15px;
          font-weight: 500;
        }
        .location-icon {
          margin-left: 56px;
        }
        .mail-icon{
          margin-left: 42px;
        };
      }
    }
  }

 .form {

    #form-mail-name {
      margin-left: 0;
      gap: 12px;
      max-width: 719px;
      .email {
        padding-left: 7px;
      }
      

    }

    #form-subject {
      max-width: 720px;
      margin-left: 2px;
      margin-bottom: 13px;
      padding-left: 11px;
      }
    

    #form-textarea {
      max-width: 720px;
      margin-left: -3px;

    }
  }
  .form-btn {
    margin-left: 200px;
    margin-right: 758px !important;
  }
}
