@media ($mobile-screen) {
  nav {
    max-width: 320px;
    padding: 0 21px 15px 21px;
    gap: 90px;

    .nav-logo {
      width: 93px;
      padding-top: 17px;
    }

    #menu {
      width: 44px;
      margin-right: 2px;
      padding-top: 12px;
    }
  }
}
