@media ($tablet-screen) {
  nav {
    max-width: 768px;
    min-width: 100%;

    padding: 0 27px 29px 26px;
    align-items: center;
    gap: 100px;
    #menu {
      display: block;
      width: 56px;
    }
    .list {
      display: none;
    }
  }
}
