$main-green: #3ab6b2;
$bg-black: #000000;
$bg-gray: #666666;
$bg-black-header: #282828;

$bg-icon: #3b3b3b;
$bg-icon-socials: #252525;

$txt-white: #ffffff;
$txt-headline-gray: #323232;
$main-txt-gray: #6a6a6a;
$form-txt-gray: #7c7c7c;
$contact-txt-gray: #606060;
$portfolio-header-gray: #323232;
$contact-header-gray: #333333;
$footer-txt-gray: #fefefe;

$line-gray: #d3d3d3;
$services-white: #fffefe;
$list-font-color: #525252;
