$small-txts-font: "Open Sans", sans-serif;
$big-txts-font: "Raleway", sans-serif;
$headline-font: "Montserrat", sans-serif;

body {
  // background-color: pink;
  // overflow-x: hidden !important;
  // max-width: 1920px;
  // width: 100%;

  .container {
    max-width: 1920px;
  }
}
