body .container {
  max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding-left: 375px;
  padding-right: 376px;
  padding-bottom: 22px;
  width: 1920px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  gap: 306px;
}
nav img {
  width: 124px;
  padding-top: 29px;
}

nav .burger-menu {
  display: none;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav ul li {
  list-style: none;
  padding-top: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1023.5px) {
  nav {
    max-width: 768px;
    min-width: 100%;
    padding-left: 26px;
    padding-right: 27px;
    padding-bottom: 29px;
    align-items: center;
    gap: 100px;
  }
  nav #menu {
    display: block;
    width: 56px;
  }
  nav .list {
    display: none;
  }
}
@media (max-width: 767.5px) {
  nav {
    max-width: 320px;
    padding-left: 21px;
    padding-right: 21px;
    gap: 90px;
  }
  nav .nav-logo {
    width: 93px;
    padding-top: 17px;
  }
  nav #menu {
    width: 44px;
    margin-right: 2px;
    padding-top: 12px;
  }
}
.header-box {
  width: 1920px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}
.header-box .header-txt-container {
  color: #ffffff;
}
.header-box .header-txt-container h1 {
  font-family: "Raleway", sans-serif;
}
.header-box .header-txt-container h1 p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.header-box .header-txt-container .header-main-txt {
  font-family: "Raleway", sans-serif;
}
.header-box .header-txt-container .header-btn {
  width: 138px;
  height: 38px;
  background: #3ab6b2;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: 3px solid #3ab6b2;
  word-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
}

.header-box {
  padding-bottom: 259px;
  padding-left: 38px;
  padding-right: 38px;
}
.header-box img {
  margin-top: 138px;
}
.header-box .header-txt-container {
  display: flex;
  flex-direction: column;
}
.header-box .header-txt-container h1 {
  font-size: 62px;
  text-align: center;
  padding-top: 235px;
}
.header-box .header-txt-container h1 span {
  font-weight: 300;
  letter-spacing: -0.5px;
  margin-left: 23px;
}
.header-box .header-txt-container h1 > p {
  font-size: 74px;
  margin-top: -8px;
  margin-bottom: 5px;
  font-style: normal;
  text-align: center;
  letter-spacing: -2.2px;
  margin-left: 14px;
}
.header-box .header-txt-container .header-main-txt {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 42px;
  margin-left: 17px;
  font-size: 20px;
}
.header-box .header-txt-container .header-btn {
  margin-left: 317px;
}

@media screen and (max-width: 1023.5px) {
  .header-box {
    max-width: 768px;
    min-width: 100%;
    padding-top: 150px;
    padding-left: 20px;
    letter-spacing: -0.5px;
    word-spacing: 0.2px;
    padding-bottom: 186px;
  }
  .header-box img {
    display: none;
  }
  .header-box .header-txt-container h1 {
    padding: 0;
    font-size: 58px;
    margin-bottom: -2px;
  }
  .header-box .header-txt-container h1 span {
    margin-left: 20px;
    word-spacing: 3px;
  }
  .header-box .header-txt-container h1 p {
    font-size: 69.8px;
    margin-top: -3px;
    margin-left: 10px;
    letter-spacing: -1px;
    margin-bottom: 7px;
  }
  .header-box .header-txt-container .header-main-txt {
    font-size: 18px;
    font-weight: 100;
    word-spacing: 1.8px;
    letter-spacing: 0.2px;
    margin-bottom: 39px;
    margin-left: 16px;
    word-spacing: 2px;
  }
  .header-box .header-txt-container .header-main-txt span {
    margin-right: 3px;
  }
  .header-box .header-txt-container .header-btn {
    margin-left: 292px;
  }
}
@media (max-width: 767.5px) {
  .header-box {
    max-width: 320px;
    padding: 0;
    margin-top: -2px;
    padding-bottom: 59px;
  }
  .header-box .header-txt-container h1 span {
    font-size: 25px;
    margin-left: 20px;
    word-spacing: 2px;
  }
  .header-box .header-txt-container h1 p {
    font-size: 30px;
    margin-top: -11px;
    margin-left: 15px;
    margin-bottom: 1px;
  }
  .header-box .header-txt-container .header-main-txt {
    font-size: 9px;
    font-weight: 400;
    letter-spacing: -0.2px;
    word-spacing: 0.5px;
    margin-bottom: 18px;
    margin-left: 24px;
  }
  .header-box .header-txt-container .header-main-txt .mobile-txt {
    display: none;
  }
  .header-box .header-txt-container .header-btn {
    width: 60px;
    height: 15px;
    font-size: 7px;
    font-weight: bold;
    text-align: left;
    color: #fffefe;
    margin-left: 129px;
    padding-left: 10px;
    letter-spacing: -0.1px;
    word-spacing: -0.5px;
    padding-top: 1px;
  }
}
.computer-section {
  width: 1920px;
  padding-top: 113px;
  padding-bottom: 126px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.computer-section > h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 13px;
}
.computer-section > h2 span {
  color: #3ab6b2;
}
.computer-section .speak-icon {
  display: flex;
  gap: 4px;
  align-items: center;
}
.computer-section .speak-icon .left-line,
.computer-section .speak-icon .right-line {
  width: 40px;
  height: 1px;
  background-color: #d3d3d3;
}
.computer-section .comp-main {
  display: flex;
}
.computer-section .comp-main .computer-txt h2 {
  font-family: "Raleway", sans-serif;
  color: #323232;
  letter-spacing: -1px;
  word-spacing: 2px;
}
.computer-section .comp-main .computer-txt > p {
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a;
}
.computer-section .comp-main .computer-txt .features-container {
  display: grid;
}
.computer-section .comp-main .computer-txt .features-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #6a6a6a;
}

.computer-section h2 {
  font-size: 31px;
}
.computer-section .speak-icon {
  margin-bottom: 96px;
}

.comp-main {
  gap: 92px;
  padding-right: 359px;
}
.comp-main .black-image {
  display: none;
}
.comp-main .mobile-img {
  display: none;
}
.comp-main .comp-img {
  max-width: 510px;
  margin-left: 372px;
}
.comp-main .computer-txt h2 {
  font-size: 31px;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 22px;
}
.comp-main .computer-txt > p {
  font-size: 14px;
  margin-bottom: 48px;
  line-height: 1.9;
}
.comp-main .computer-txt .tablet-txt,
.comp-main .computer-txt .mobile-txt {
  display: none;
}
.comp-main .computer-txt .features-container-tablet,
.comp-main .computer-txt .features-container-mobile {
  display: none;
}

.features-container {
  grid-template: 1fr 1fr/1fr 1fr;
  row-gap: 54px;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.features-container .feature {
  display: flex;
  gap: 29px;
}
.features-container .feature img {
  background-color: #3b3b3b;
  border-radius: 50%;
  padding: 18px;
  width: 65px;
  height: 62px;
}
.features-container .feature h4 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #323232;
  word-spacing: -3px;
  margin-bottom: 10px;
}
.features-container .feature p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #6a6a6a;
  line-height: 1.6;
  margin-left: 1px;
}
.features-container .feature .location {
  padding-left: 25px;
}
.features-container .feature .feature-three {
  margin-right: -3px;
}
.features-container .feature .feature-four {
  margin-right: -2px;
}

@media (max-width: 1023.5px) {
  .computer-section {
    max-width: 768px;
    min-width: 100%;
    padding-bottom: 49px;
  }
  .computer-section > h2 {
    margin-top: -40px;
    font-size: 29px;
  }
  .computer-section .speak-icon {
    margin-bottom: 55px;
  }
  .computer-section .comp-main {
    flex-direction: column;
    padding: 0;
    gap: 35px;
  }
  .computer-section .comp-main .black-image {
    display: block;
    margin-left: 24px;
    margin-right: 26px;
    margin-bottom: -2px;
  }
  .computer-section .comp-main .comp-img {
    display: none;
  }
  .computer-section .comp-main .computer-txt h2 {
    font-size: 25px;
    margin-left: 25px;
    margin-bottom: 17px;
  }
  .computer-section .comp-main .computer-txt .desktop-txt {
    display: none;
  }
  .computer-section .comp-main .computer-txt .tablet-txt {
    display: block;
    margin-left: 24px;
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 30px;
    border-top: 1px solid lightgray;
    padding-top: 18px;
  }
  .computer-section .comp-main .computer-txt .features-container-desktop,
  .computer-section .comp-main .computer-txt .features-container-mobile {
    display: none;
  }
  .computer-section .comp-main .computer-txt .features-container-tablet {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px;
  }
  .computer-section .comp-main .computer-txt .features-container-tablet .features-flex-tablet {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .computer-section .comp-main .computer-txt .features-container-tablet .features-flex-tablet > p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #525252;
    margin-top: 6px;
    line-height: 22px;
    max-width: 520px;
  }
  .computer-section .comp-main .computer-txt .features-container-tablet .features-flex-tablet > img {
    margin-bottom: 15px;
  }
  .computer-section .comp-main .computer-txt .features-container-tablet .feature-tablet-btn {
    width: 138px;
    height: 42px;
    background: #3ab6b2;
    border: none;
    color: #ffffff;
    margin-top: 28px;
    font-weight: 700;
    font-size: 12.5px;
    padding-right: 5px;
  }
}
@media (max-width: 767.5px) {
  .computer-section {
    max-width: 320px;
    padding-top: 76px;
    padding-bottom: 24px;
  }
  .computer-section > h2 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .computer-section .speak-icon {
    margin-bottom: 34px;
  }
  .computer-section .comp-main {
    flex-direction: column;
    padding: 0;
    gap: 21px;
  }
  .computer-section .comp-main .black-image {
    display: none;
  }
  .computer-section .comp-main .mobile-img {
    display: block;
    background-color: #000000;
    width: 280px;
    height: 207px;
    margin: 0 auto;
  }
  .computer-section .comp-main .computer-txt h2 {
    font-size: 17px;
    margin-left: 20px;
    word-spacing: 0;
    margin-bottom: 23px;
  }
  .computer-section .comp-main .computer-txt .features-container-tablet {
    display: none;
  }
  .computer-section .comp-main .computer-txt .features-container-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }
  .computer-section .comp-main .computer-txt .features-container-mobile .features-flex-tablet {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .computer-section .comp-main .computer-txt .features-container-mobile .features-flex-tablet > p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #525252;
    margin-top: 6px;
    line-height: 22px;
    max-width: 520px;
  }
  .computer-section .comp-main .computer-txt .features-container-mobile .features-flex-tablet > img {
    margin-bottom: 15px;
  }
  .computer-section .comp-main .computer-txt .features-container-mobile .feature-tablet-btn {
    width: 138px;
    height: 42px;
    background: #3ab6b2;
    border: none;
    color: #ffffff;
    margin-top: 28px;
    font-weight: 700;
    font-size: 12.5px;
    padding-right: 5px;
  }
  .computer-section .comp-main .computer-txt .tablet-txt {
    display: none;
  }
  .computer-section .comp-main .computer-txt .mobile-txt {
    display: block;
    margin-left: 20px;
    line-height: 1.8;
    font-size: 13px;
    margin-bottom: 27px;
  }
}
.services-section {
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 150px;
  background-color: #000000;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section h2 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #fffefe;
  margin-bottom: 5px;
}
.services-section .services-icon {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 72px;
}
.services-section .services-icon .left-line,
.services-section .services-icon .right-line {
  width: 40px;
  height: 1px;
  background-color: #ffffff;
}
.services-section .services-container {
  display: flex;
  gap: 65px;
}
.services-section .services-container .service:first-child {
  position: relative;
  right: 117px;
}
.services-section .services-container .service:nth-child(2) {
  padding-right: 120px;
  width: 198px;
}
.services-section .services-container .service:nth-child(2) h4,
.services-section .services-container .service:nth-child(3) h4 {
  padding-right: 4px;
  word-spacing: 2px;
}
.services-section .services-container .service:nth-child(3) p {
  padding-right: 16px;
}
.services-section .services-container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section .services-container .service .hexagon {
  position: relative;
  padding-bottom: 235px;
  right: 20px;
}
.services-section .services-container .service .hexagon img {
  position: absolute;
  top: 78px;
  left: 23px;
  width: 112px;
}
.services-section .services-container .service .hexagon .green-hexagon {
  transform: scale(1.1);
  visibility: hidden;
}
.services-section .services-container .service .hexagon .main-service-icon {
  z-index: 1;
  transform: scale(1.1);
}
.services-section .services-container .service .hexagon .main-service-icon:hover + .green-hexagon {
  visibility: visible;
}
.services-section .services-container .service .hexagon .main-service-icon:hover {
  transform: scale(1);
}
.services-section .services-container .service .hexagon .service-icon {
  width: 27px;
  left: 64px;
  top: 131px;
}
.services-section .services-container .service .icons-txt-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  margin-left: 121px;
}
.services-section .services-container .service h4 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  font-style: normal;
  text-align: left;
  color: #3ab6b2;
  margin-bottom: 5px;
}
.services-section .services-container .service p {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 0px;
  word-spacing: 1.2px;
  width: 304px;
  margin-left: 9px;
  padding-right: 12px;
}

.services-section {
  padding-top: 140px;
}
.services-section h2 {
  font-size: 31px;
}

@media screen and (max-width: 1023.5px) {
  .services-section {
    max-width: 768px;
    min-width: 100%;
    padding-top: 73px;
    padding-bottom: 11px;
  }
  .services-section > h2 {
    font-size: 29px;
    margin-bottom: 12px;
  }
  .services-section .services-container {
    flex-direction: column;
  }
  .services-section .services-container .service:first-child {
    position: relative;
    right: 58px;
    bottom: 84px;
  }
  .services-section .services-container .service:nth-child(2) {
    width: 444px;
    margin-top: -145px;
  }
  .services-section .services-container .service:last-child {
    position: relative;
    bottom: 61px;
    right: 58px;
  }
}
@media (max-width: 767.5px) {
  .services-section {
    max-width: 320px;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 10px;
  }
  .services-section h2 {
    font-size: 27px;
  }
  .services-section .services-container {
    max-width: 100%;
  }
  .services-section .services-container .service {
    max-width: 100%;
  }
  .services-section .services-container .service h4 {
    font-size: 18.9647006989px;
  }
  .services-section .services-container .service .header1 {
    margin-top: -5px;
  }
  .services-section .services-container .service .header2 {
    margin-top: -57px;
  }
  .services-section .services-container .service .header3 {
    margin-top: -45px;
  }
  .services-section .services-container .service .icons-txt-flex p {
    font-size: 12.9758501053px;
    font-weight: 100;
    margin-left: 20px;
    line-height: 1.7;
  }
  .services-section .services-container .service .hexagon .main-service-icon {
    transform: scale(1);
  }
  .services-section .services-container .service:first-child {
    position: relative;
    right: 58px;
    bottom: 95px;
  }
}
.portfolio-section {
  width: 1920px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.portfolio-section h2 {
  font-family: "Raleway", sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  color: #323232;
  margin-bottom: 10px;
}
.portfolio-section .portfolio-icon {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 82px;
}
.portfolio-section .portfolio-icon .left-line,
.portfolio-section .portfolio-icon .right-line {
  width: 40px;
  height: 1px;
  background-color: #d3d3d3;
}
.portfolio-section .flex-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.portfolio-section .flex-container .box {
  background-color: #000000;
  height: 379px;
}
.portfolio-section .flex-container .box:hover .content-wrapper {
  display: flex;
}
.portfolio-section .flex-container .box .content-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
}
.portfolio-section .flex-container .box .content-wrapper .content-icons {
  background-color: #666666;
  width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 319px;
  padding-top: 159px;
  padding-bottom: 98px;
}
.portfolio-section .flex-container .box .content-wrapper .content-icons img:first-child {
  background-color: #3ab6b2;
  border-radius: 50%;
  padding: 15px;
}
.portfolio-section .flex-container .box .content-wrapper .content-icons img:last-child {
  border-radius: 50%;
  border: 1px solid #3ab6b2;
  padding: 15px;
}
.portfolio-section .flex-container .box .content-wrapper .content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.portfolio-section .flex-container .box .content-wrapper .content-footer h4 {
  font-family: "Raleway", sans-serif;
  font-size: 16.9843597412px;
  color: #ffffff;
  font-weight: 300;
  margin-left: -9px;
  margin-bottom: 7px;
}
.portfolio-section .flex-container .box .content-wrapper .content-footer p {
  font-family: "Raleway", sans-serif;
  font-size: 12.9880399704px;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  color: #3ab6b2;
  margin-left: -6px;
  letter-spacing: 0.2px;
}
.portfolio-section .flex-container .box-1st-row {
  display: flex;
  gap: 5px;
}
.portfolio-section .flex-container .box-1st-row .box1 {
  width: 763px;
}
.portfolio-section .flex-container .box-1st-row .box2 {
  width: 383px;
}
.portfolio-section .flex-container .box-1st-row .box3 {
  width: 763px;
}
.portfolio-section .flex-container .box-second-row {
  display: flex;
  gap: 5px;
}
.portfolio-section .flex-container .box-second-row .box4 {
  width: 379px;
}
.portfolio-section .flex-container .box-second-row .box5 {
  width: 767px;
}
.portfolio-section .flex-container .box-second-row .box6 {
  width: 380px;
}
.portfolio-section .flex-container .box-second-row .box7 {
  width: 378px;
}

@media screen and (max-width: 1023.5px) {
  .portfolio-section {
    max-width: 768px;
    min-width: 100%;
  }
  .portfolio-section > h2 {
    font-size: 28px;
    margin-top: -36px;
  }
  .portfolio-section .portfolio-icon {
    margin-bottom: 56px;
  }
  .portfolio-section #content-icons-resp {
    padding-left: 0;
    padding-top: 0;
    padding-left: 68px;
    padding-top: 81px;
    padding-bottom: 54px;
  }
  .portfolio-section #content-icons-resp img:first-child {
    background-color: #3ab6b2;
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
  }
  .portfolio-section #content-icons-resp img:last-child {
    border-radius: 50%;
    border: 1px solid #3ab6b2;
    padding: 8px;
    width: 35px;
    height: 35px;
  }
  .portfolio-section .flex-container {
    gap: 21px;
  }
  .portfolio-section .flex-container #content-footer-resp h4 {
    font-size: 12px;
    font-weight: 500;
    margin-left: -2px;
    margin-bottom: 6px;
  }
  .portfolio-section .flex-container #content-footer-resp p {
    margin-left: -1px;
    font-size: 10px;
    word-spacing: -0.3px;
  }
  .portfolio-section .flex-container .box-1st-row {
    gap: 22px;
  }
  .portfolio-section .flex-container .box-second-row {
    gap: 22px;
  }
  .portfolio-section .flex-container .box {
    width: 225px !important;
    height: 229px !important;
  }
  .portfolio-section .flex-container .box7 {
    display: none;
  }
}
@media (max-width: 767.5px) {
  .portfolio-section {
    max-width: 320px;
  }
  .portfolio-section h2 {
    margin-top: -109px;
    margin-bottom: 10px;
  }
  .portfolio-section #content-icons-resp {
    padding-bottom: 47px;
  }
  .portfolio-section #content-footer-resp {
    font-size: 13px;
  }
  .portfolio-section .portfolio-icon {
    margin-bottom: 33px;
  }
  .portfolio-section .flex-container {
    gap: 6px;
  }
  .portfolio-section .flex-container .box-1st-row {
    flex-direction: column;
    gap: 8px;
  }
  .portfolio-section .flex-container .box {
    width: 280px !important;
    height: 163px !important;
  }
  .portfolio-section .flex-container .box5,
  .portfolio-section .flex-container .box6 {
    display: none;
  }
}
.contact-component {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 122px;
}
.contact-component h2 {
  font-family: "Raleway", sans-serif;
  font-size: 31px;
  color: #333333;
  margin-bottom: 10px;
}
.contact-component .phone-icon {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 90px;
}
.contact-component .phone-icon .left-line,
.contact-component .phone-icon .right-line {
  width: 40px;
  height: 1px;
  background-color: #d3d3d3;
}
.contact-component .contact-methods-container {
  display: flex;
  gap: 172px;
  margin-left: 3px;
  margin-right: 19px;
}
.contact-component .contact-methods-container .contact-method {
  display: flex;
  flex-direction: column;
  margin-bottom: 81px;
}
.contact-component .contact-methods-container .contact-method .location-icon {
  width: 26px;
  margin-left: 53px;
  margin-bottom: 18px;
}
.contact-component .contact-methods-container .contact-method .mail-icon {
  width: 30px;
  margin-left: 56px;
  margin-top: 6px;
  margin-bottom: 24px;
}
.contact-component .contact-methods-container .contact-method .hands-icon {
  width: 46px;
  margin-left: 39px;
  margin-bottom: 21px;
}
.contact-component .contact-methods-container .contact-method p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #606060;
}
.contact-component form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contact-component form .name,
.contact-component form .email {
  width: 464px;
  width: 464px;
  height: 46px;
  border-color: #d4d4d4;
  border-width: 1px;
  border-style: solid;
  background: #ffffff;
  padding-left: 10px;
  font-size: 14px;
}
.contact-component form .name-email {
  display: flex;
  gap: 16px;
}
.contact-component form .subject {
  width: 945px;
  height: 46px;
  margin-bottom: 15px;
  border-color: #d4d4d4;
  border-width: 1px;
  border-style: solid;
  background: #ffffff;
  padding-left: 10px;
  font-size: 14px;
}
.contact-component form textarea {
  height: 170px;
  font-size: 17px;
  letter-spacing: -1.2px;
  padding-top: 12px;
  padding-left: 11px;
}
.contact-component form .textarea {
  display: flex;
  flex-direction: column;
  width: 945px;
  margin-bottom: 17px;
}
.contact-component .form-btn {
  width: 160px;
  height: 42px;
  background: #3ab6b2;
  color: white;
  border: none;
  margin-right: 785px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1023.5px) {
  .contact-component {
    max-width: 768px;
    min-width: 100%;
    padding-top: 77px;
    padding-bottom: 82px;
  }
  .contact-component h2 {
    font-size: 29px;
    margin-bottom: 12px;
  }
  .contact-component .phone-icon {
    margin-bottom: 58px;
  }
  .contact-component .content-icons {
    padding-left: 20px;
  }
  .contact-component .contact-methods-container {
    margin-left: 4px;
    margin-right: 18px;
    word-spacing: -1.2px;
    gap: 157px;
  }
  .contact-component .contact-methods-container .contact-method {
    margin-bottom: 45px;
  }
  .contact-component .contact-methods-container .contact-method p {
    font-size: 15px;
    font-weight: 500;
  }
  .contact-component .contact-methods-container .contact-method .location-icon {
    margin-left: 56px;
  }
  .contact-component .contact-methods-container .contact-method .mail-icon {
    margin-left: 42px;
  }
  .form #form-mail-name {
    margin-left: 0;
    gap: 12px;
    max-width: 719px;
  }
  .form #form-mail-name .email {
    padding-left: 7px;
  }
  .form #form-subject {
    max-width: 720px;
    margin-left: 2px;
    margin-bottom: 13px;
    padding-left: 11px;
  }
  .form #form-textarea {
    max-width: 720px;
    margin-left: -3px;
  }
  .form-btn {
    margin-left: 200px;
    margin-right: 758px !important;
  }
}
@media (max-width: 767.5px) {
  .contact-component {
    max-width: 320px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .contact-component .phone-icon {
    margin-bottom: 40px;
  }
  .contact-component .contact-methods-container {
    flex-direction: column;
    gap: 0;
  }
  .contact-component .contact-methods-container .contact-method {
    margin-bottom: 40px;
  }
  .contact-component form {
    gap: 10px;
  }
  .contact-component form .name-email {
    flex-direction: column;
    gap: 11px;
  }
  .contact-component form .subject {
    margin-bottom: 9px;
  }
  .contact-component form textarea {
    height: 141px;
  }
  .contact-component form .textarea {
    margin-bottom: 14px;
  }
  .contact-component form .name,
  .contact-component form .email,
  .contact-component form textarea,
  .contact-component form .subject,
  .contact-component form .name-email,
  .contact-component form .textarea,
  .contact-component form form {
    max-width: 280px;
  }
  .contact-component .form-btn {
    margin-left: 636px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 58px;
  width: 1920px;
  background-color: #000000;
}
footer > img {
  margin-bottom: 20px;
  margin-left: 5px;
  width: 120px;
}
footer .socials {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 29px;
  margin-left: 1px;
}
footer .socials .flex-socials,
footer .socials .flex-socials2 {
  display: flex;
  gap: 10px;
}
footer .socials img {
  width: 40px;
  height: 40px;
  padding: 11px;
  border-width: 1px;
  border-radius: 3px;
  background-color: #252525;
}
footer .socials img:first-child {
  width: 38px;
}
footer .socials .flickr {
  width: 42px;
}

small {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  color: #fefefe;
  word-spacing: 0.7px;
}

@media screen and (max-width: 1023.5px) {
  footer {
    max-width: 768px;
    min-width: 100%;
    padding-top: 51px;
  }
  footer .location-icon {
    margin-left: 49px;
  }
}
@media (max-width: 767.5px) {
  footer {
    padding-bottom: 41px;
    max-width: 320px;
  }
  footer > img {
    width: 118.9px;
    height: 43.2px;
  }
  footer .socials {
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
  }
}/*# sourceMappingURL=index.css.map */